@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-teal: #0d9488;
  --teal-light: #f0fdfa;
  --teal-dark: #0f766e;
}

body {
  @apply bg-gray-50 text-gray-900;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
