@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-orange: #E77B4D;
  --orange-light: #FFF5F0;
  --orange-dark: #D2691E;
  --background-peach: #F5E6D3;
}

body {
  @apply bg-[#F5E6D3] text-gray-900;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}